/* start global  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(img/preview16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}

.container {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}


/* End global  */


/* Start The header  */

h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    padding: 1em;
    text-align: center;
    letter-spacing: 0.3em;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

h2 span {
    color: red;
    font-size: 1.2em;
}


/* End The header  */


/* start the form tag  */

.add-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    color: black;
}

.add-form input[type="text"] {
    width: 55%;
    margin: 0 auto;
    background: white;
    margin-top: 0.7rem;
    transform: scale(1);
    transition: width 0.7s;
    height: 4em;
    font-size: 1em;
    padding: 0.8em;
}

.add-form input[type="text"]:focus {
    width: 90%;
}

.add-form input[type="text"],
.list_item {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
    border: none;
}


/* end the form  */


/* start the list  */

.todolist {
    margin: 1.3em;
    list-style: none;
    text-align: center;
}

.list_item {
    margin: 1.2em;
    padding: 1.2em;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1.0em 1em 1.8em 0.6em;
}


/* end list  */


/* start button  */

.btn {
    text-align: center;
}

.addbutton {
    padding: 0.7rem;
    width: 55%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    margin: 1.25rem auto;
    font-size: 14px;
    background-color: #ff6a80;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px 0 #a25561;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: 200px;
    font-size: 1.1em;
}

.addbutton:hover {
    background-color: #ff566f;
    cursor: pointer
}

/* end button  */


/* start icon  */

.deleteicon,
.check_icon {
    margin-left: 1.4em;
    float: right;
    vertical-align: middle;
    padding-top: -0.5em;
    margin-top: auto;
}

.todo_title {
    float: left;
    vertical-align: middle;
}

.deleteicon:hover {
    color: red;
}

.check_icon:hover {
    color: green;
}

/* end icon  */


/* mark the done work */

.marked_node {
    background-color: rgba(38, 193, 84, .7);
}

.marked_node .check_icon {
    color: #0a5f0a;
}

.mark {
    text-decoration: line-through;
}

/* End  */

/* this is the media query styles  */

@media(max-width:700px) {
    h2 {
        font-size: 2em;
    }

    .container {
        width: 100%;
    }
}

/*  */