/* start global  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    background-image: url(preview16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

/* End global  */
/* Start The header  */
h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    padding: 1em;
    text-align: center;
    letter-spacing: 0.3em;


}

h2 span {
    color: red;
    font-size: 1.2em;
}

/* End The header  */
/* start the form tag  */
.add-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    color: black;
}

.add-form input[type="text"] {
    width: 55%;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    outline: none;
    margin-top: 0.7rem;
    transform: scale(1);
    transition: width 0.7s;
    height: 4em;
    font-size: 1em;
    

}

.add-form input[type="text"]:focus {
    width: 90%;
}

input[type="text"] {
    /* border:1px solid rgb(255, 189, 255); */
    width: 100%;
    /* border:2px solid rgb(255, 189, 255); */
    padding: 0.8em;

}

/* end the form  */

/* start the list  */

.todolist {
    margin: 1.3em;
    list-style: none;
    /* display: felx;
    flex-direction: column; */
    text-align: center;
}

.list_item {
    margin: 1.2em;
    padding: 1.2em;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 1.0em 1em 1.8em 0.6em;
}

/* end list  */
/* start button  */
.btn {
    text-align: center;

}

.addbutton {
    padding: 0.7rem;

    width: 55%;
    border: none;
    outline: none;
    color: #fff;
    margin: 1.25rem auto;
    font-size: 14px;
    background-color: #ff6a80;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 2px 0 #ff3755;
    font-weight: 700;
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    background-position: 200px;
    font-size: 1em;
}

.addbutton:hover {
    background-color: #ff566f;
    cursor: pointer
}

/* end button  */
/* start icon  */
.deleteicon,
.check_icon {
    margin-left: 1.4em;
    float: right;
    vertical-align: middle;
    padding-top: -0.5em;
    margin-top: auto;
}

.todo_title {
    float: left;
    vertical-align: middle;

}

.deleteicon:hover {
    color: red;
}

.check_icon:hover {
    color: green;
}

/* end icon  */
/* mark the done work */

.marked_node {
    background-image: linear-gradient(#00b09b, #00b09b);
}

.mark {
    text-decoration: line-through;
}

/* End  */

/* this is the media query styles  */
@media(max-width:600px) {

    .container {
        width: 95%;
        margin: 10% auto;
    }


}

/*  */